/* GLOBAL */

* {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow: hidden;
  background-color: rgb(40, 40, 40);
  
}

body {
  font-family: 'Helvetica', sans-serif;
  font-weight: 700;
  color: #333333;
  text-align: center;
  height: 100%;
  color: white;
  margin: 0 auto;
}

h1 {
  font-size: 70px;
  line-height: 1.1;
}

p {
  font-size: 20px;
  line-height: 1.4;
}

.button {
  font-size: 20px;
}



/* NEXT BUTTON */

.red-dot {
  height: 70px;
  width: 100%;
  background-color: rgb(100, 100, 100);
  border-color: transparent;
  position: fixed;
  bottom: 0px;
  right: 0px;
  cursor: pointer;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: rgb(150, 150, 150);
}

.red-dot:hover {
  background-color: rgb(200, 200, 200);
}

#nextQuestion {
  display: block;
}

#endQuiz {
  display: none;
}


/* WELCOME MESSAGE */

.welcome-message { 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.welcome-button {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* INSTRUCTIONS */

.instructions {
  max-width: 600px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#instructions-text {
  font-size: 25px;
  text-align: left;
}

/* NAME INPUT */

.what-is-your-name {
  margin: 22% auto 10% auto;

}

.name-input{
	width: 500px;
  margin: 0 auto;
}

.name-input input[type="text"],
.name-input textarea,
.name-input select {
  font-family: 'Helvetica', sans-serif;
  outline: none;
	display: block;
	width: 100%;
	padding: 10px;
	border: none;
	border-bottom: 2px solid rgb(200, 200, 200);
	background: transparent;
  font-size: 60px; 
  font-weight: 800;
  color: white;
  text-align: center;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(100, 100, 100);
  opacity: 1; /* Firefox */
  text-align: center;
}



/* QUIZ */

#question {
  font-size: 20px;
  max-width: 600px;
  text-align: center;
  margin: 200px auto 100px auto;
}

#progress {
  font-size: 40px;
  float: left;
  margin-left: 8%;

}

.option-buttons {
  width: 600px;
  height: 70px;
  text-align: center;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #333333;
  /* border: 2px solid #333333; */
  margin: 30px auto;
  cursor: pointer;
  display: block /* Make the buttons appear below each other */
}

.option-buttons:hover {
  background-color: rgb(240, 240, 240);
}

#feedback {
  text-align: center;
  margin-top: 50px;
}



/* USER RESULTS */

.user-result {
  font-size: 130px;
  margin: 30% auto 7% auto;
}

.user-result-text {
  margin: 0 auto;
  max-width: 600px;
}