/* Global */

* {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Helvetica'; 
  font-weight: 800;
  color: #333333;
  text-align: left;
  height: 100%;
}

h1 {
  font-size: 70px;
  line-height: 1.1;
}

p {
  font-size: 20px;
  line-height: 1.4;
}

.welcome-message { 
    margin-top: 15%;
    margin-left: 15%;
}

.button {
  font-size: 20px;
}

.welcome-button {
  margin-top: 10%;
  margin-left: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.instructions-button {
  margin-top: 10%;
  margin-left: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.red-dot {
  height: 40px;
  width: 40px;
  background-color: rgb(204, 12, 12);
  border-radius: 50%;
  display: inline-block;
  margin-left: 30px;
  cursor: pointer;
}

.red-dot:hover {
  background-color: #09792e;
}

.instructions {
  width: 60%;
  max-width: 700px;
  margin-top: 15%;
  margin-left: 15%;
  text-align: left;
}

.what-is-your-name {
  margin-top: 15%;
  margin-left: 15%;
  text-align: left;
}

.name-input{
	width: 600px;
  margin-left: 15%;
  margin-top: 10%;
  text-align: left;
}

.name-input input[type="text"],
.name-input textarea,
.name-input select 
{
	outline: none;
	display: block;
	width: 100%;
	padding: 10px;
	border: none;
	border-bottom: 2px solid rgb(214, 214, 214);
	background: transparent;
  font-size: 60px;
  font-family: 'Helvetica'; 
  font-weight: 800;
  color: rgb(150, 150, 150);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(214, 214, 214);
  opacity: 1; /* Firefox */
}

/*Button group*/
.btn-group {
  margin-top: 30px;

}

.btn-group button {
  width: 250px;
  font-size: 20px;
  font-weight: 800;
  color: #333333;
  border: 1px solid #333333;
  margin: 20px 40px 20px 0px;
  padding: 10px 10px;
  cursor: pointer;
  display:block /* Make the buttons appear below each other */
}

/* Prevent double borders */
.btn-group button:not(:last-child) {
  border-bottom: none;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #9400D3;
}

/*Progess bar*/
#progress {
  color: #333333;
  font-size: 20px;
}

.user-result {
  font-size: 130px;
  margin-top: 10%;
  margin-left: 10%;
}

.user-result-text {
  margin-left: 30%;
  margin-top: 5%;
  max-width: 600px;
}