/* GLOBAL */

* {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

html {
  overflow: hidden;
  background-color: rgb(40, 40, 40);
}

body {
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  text-align: center;
  color: rgb(200, 200, 200);
  margin: 0 auto;
  height: 100%;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 60px;
  line-height: 1.1;
  letter-spacing: 0.1em;
}

p {
  font-size: 20px;
  line-height: 1.4;
}

a:link {
  color: rgb(100, 100, 100);
  text-decoration: none;
}

a:visited {
  color: rgb(100, 100, 100);
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

a:active {
  color: rgb(100, 100, 100);
  text-decoration: none;
}

#footer {
  position: fixed;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: rgb(150, 150, 150);
}

#footer a:link {
  color: rgb(200, 200, 200);
  text-decoration: underline;
}

#footer a:visited {
  color: rgb(200, 200, 200);
  text-decoration: underline;
}

#footer a:hover {
  color: rgb(200, 200, 200);
  text-decoration: underline;
}

#logo {
  margin: 20px auto 0px auto;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.3em;
}

#progress {
  float: left;
  font-size: 16px;
  margin-top: 80px;
  margin-left: 80px;
}

#score {
  float: right;
  font-size: 16px;
  margin-top: 80px;
  margin-right: 80px;
}


/* BUTTONS */

.next-button {
  height: 80px;
  background-color: rgb(250, 250, 250);
  border-color: transparent;
  cursor: pointer;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  font-size: 18px;
  color: rgb(150, 150, 150);
  position: fixed;
  bottom: 90px;
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
}

.next-button:hover {
  background-color: rgb(11, 85, 221);
  color: white;
}

.button-2 {
  height: 80px;
  width: 180px;
  background-color: rgb(250, 250, 250);
  border-color: transparent;
  cursor: pointer;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  font-size: 16px;
  color: rgb(100, 100, 100);
  margin: 15px;
}

.button-2:hover {
  background-color: rgb(11, 85, 221);
  color: white;
}

.button-2:hover > a {
  color: white;
}

#nextQuestion {
  display: block;
}

#endQuiz {
  display: none;
}


/* WELCOME MESSAGE */

#hello-stranger {
  margin: 150px auto 90px auto;
}

/* INSTRUCTIONS */

.instructions {
  max-width: 600px;
  margin-top: 190px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

/* NAME INPUT */

.name-input{
	width: 360px;
  margin: 100px auto 90px auto;
}

.name-input input[type="text"],
.name-input textarea,
.name-input select {
  font-family: 'Roboto Mono', monospace;
  font-size: 40px; 
  font-weight: 300;
  outline: none;
	display: block;
	width: 100%;
	padding: 10px;
	border: none;
	border-bottom: 2px solid rgb(200, 200, 200);
	background: transparent;
  color: white;
  text-align: center;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(100, 100, 100);
  opacity: 1; /* Firefox */
  text-align: center;
}



/* QUIZ */

#question {
  font-size: 20px;
  font-weight: 300;
  max-width: 800px;
  min-height: 100px;
  text-align: center;
  margin: 80px auto 50px auto;
  /*margin: 140px auto 80px auto;*/

}

.option-buttons {
  width: 700px;
  height: 80px;
  text-align: center;
  font-size: 16px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  color: #333333;
  margin: 40px auto;
  padding: 0 50px;
  cursor: pointer;
  display: block /* Make the buttons appear below each other */
  
}

.option-buttons:hover {
  background-color: rgb(240, 240, 240);
}

#feedback {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 15px;
  font-size: 20px;
}


/* USER RESULTS */

.user-result {
  font-size: 130px;
  margin: 70px auto 70px auto;
}

.user-result #score {
  font-size: 130px;
  text-align: center;
  float: none;
}

#final-score {
  margin-top: 70px;
}

#result-text {
  max-width: 900px;
  margin-top: 0px;
  margin-bottom: 70px;
  margin-left: auto;
  margin-right: auto;
}